name: Continuous Integration

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

  workflow_dispatch:

jobs:
  build_with_zig:
    name: "Build with zig"
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Zig
        uses: mlugg/setup-zig@v2.1.0

      - name: Fetch Dependencies
        run: zig build --verbose --fetch

      - name: Run `fmt`
        run: zig build --verbose --summary all fmt && git status --porcelain

      - name: Run `test`
        run: zig build test

      - name: Run `build`
        run: zig build

      - uses: actions/upload-artifact@v4
        with:
          name: zig_build
          path: zig-out
          overwrite: false
          include-hidden-files: false
